<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>本 App 需要存取區域網路以連線 Edge TTS 語音合成伺服器</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>LaunchBackground</string>
		<key>ImageName</key>
		<string>books.vertical</string>
		<key>ImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
